.main-content.products {
	padding-top: 180px;
}

section.product-info {
	.clearfix();
	margin-bottom: 60px;

	.content {
		.title {
			text-align: center;
			font-size: 2.5em;
			text-transform: uppercase;
			letter-spacing: @letter-spacing-wider;

			@media screen and (min-width: @grid-float-breakpoint) {
				text-align: left;
				margin-top: 2.25em;
			}
		}

		p {
			line-height: 1.5;
			font-size: 1em;
		}

		.btn {
			margin-top: 1.25em;
		}
	}

	.thumbnail img {
		display: block;
		width: 100%;
		max-width: 100%;
		height: auto;
	}

	&:nth-of-type(even) {
		@media screen and (min-width: @grid-float-breakpoint) {
			.content {
				float: right;
				width: 45%;
				padding-left: (@grid-gutter-width / 2);
			}

			.thumbnail {
				float: left;
				width: 55%;
				padding-right: (@grid-gutter-width / 2);
			}
		}
	}

	&:nth-of-type(odd) {
		@media screen and (min-width: @grid-float-breakpoint) {
			.content {
				float: left;
				width: 45%;
				padding-right: (@grid-gutter-width / 2);
			}

			.thumbnail {
				float: right;
				width: 55%;
				padding-left: (@grid-gutter-width / 2);
			}
		}
	}

	&.centered {
		text-align: center;

		.content {
			float: none;
			width: 60%;
			margin: 0 auto;
		}

		.thumbnail {
			display: none;
		}
	}

	@media screen and (max-width: (@grid-float-breakpoint - 1)) {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid @zircon;

		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
		}

		.content .btn {
			display: block;
			margin-top: 50px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
