- content_for :title do
  MRV Fitment
.row
  %select
    %option Yamaha
    %option Suzuki
  %select
    %option Xj
    %option Fr
  %select
    %option 1998
    %option 2001 
.row
  %table.table-bordered
    %thead
      %tr
        %th Make
        %th Model
        %th Year
        %th Code
    %tbody
      %tr
        %td Yamaha
        %td XJ
        %td 1994 - 2000
        %td dupa
      %trd
        %td Yamaha
        %td XJ
        %td 1994 - 2000
        %td dupa

