- content_for :title do
  MRV Fitment
.row
  %input.search{placeholder: "Type what you are searching for"}
.row
  %table.table-bordered
    %thead
      %tr
        %th Make
        %th Model
        %th Year
        %th Code
    %tbody
      %tr
        %td Yamaha
        %td XJ
        %td 1994 - 2000
        %td dupa
      %trd
        %td Yamaha
        %td XJ
        %td 1994 - 2000
        %td dupa