- content_for :title do
  MRV Performance and Emotions
.hero
  .hero-images
    .image{:style => 'background-image: url(/assets/hero/hero-images-01.jpg);',
           :class => 'hero-scale-top'}
    .image{:style => 'background-image: url(/assets/hero/hero-images-02.jpg);',
           :class => 'hero-scale-bottom'}
    .image{:style => 'background-image: url(/assets/hero/hero-images-03.jpg);',
           :class => 'show hero-scale-top'}
    .image{:style => 'background-image: url(/assets/hero/hero-images-04.jpg);',
           :class => 'hero-scale-bottom'}
  .hero-text
    %h2 MRV - RACING levers
    %p designed with <strong>perfection</strong> produced for <strong>races</strong>
    %p improved to last forever
    %a.btn.btn-lines(href="/products") Learn more


= javascript_include_tag("home")
