- content_for :title do
  MRV Performance and Emotions
.row
  %img.main{:src => '/assets/main.jpg'}
.row
  %h2 MRV-RACING levers 
  %p designed with perfection 
  %p produced for races  
  %p improved to last forever