- content_for :title do
  MRV-RACING Products 
.row
  .col-md-3
    .block
      %ul
        %li 
          %a(href="#short")
            short levers
        %li
          %a(href="#long")
            long levers
        %li
          %a(href="#extendable")
            extendable and foldable levers
        %li
          %a(href="#three_d")
            3D levers
        %li
          %a(href="#special")
            special series
    .block
      %a(href="/fitment")
        Fitment
  .col-md-9    
    %ul.frames
      %li#short 
        short levers
        %img{src: "/assets/short_l_main.jpg"}
      %li#long
        long levers
        %img{src: "/assets/long_l_main.jpg"}
      %li#extendable
        extendable and foldable levers
        %img{src: "/assets/extendable_l_main.jpg"}
      %li#three_d
        3D levers
        %img{src: "/assets/3d_l_main.jpg"}
      %li#special
        special series
        %img{src: "/assets/logo.png"}
    .row.categories#short
      %img{:src => '/assets/logo.png'}
      .thumbnails.extendable
        %img{:src => '/assets/extendable_main.jpg', "data-zoom-image" => '/assets/extendable_main.jpg'}
        %img{:src => '/assets/extendable_tech_1.jpg', "data-zoom-image" => '/assets/extendable_tech_1.jpg'}
        %img{:src => '/assets/extendable_tech_2.jpg', "data-zoom-image" => '/assets/extendable_tech_2.jpg'}
        %img{:src => '/assets/extendable_tech_3.jpg', "data-zoom-image" => '/assets/extendable_tech_3.jpg'}
      .thumbnails.static
        %img{:src => '/assets/short_s_main.jpg'}
        %img{:src => '/assets/logo.png'}
        %img{:src => '/assets/short_s_main.jpg'}
        %img{:src => '/assets/logo.png'}
      • SHORT LEVERS 
      The best for motorcycle races – giving you extra speed to operate a brake and a clutch in your motorcycle (operated with 2 fingers)

      The highest grade levers used on motorcycle races
      The best design and improved features
      Anodizing process of 16 phases
      The highest precision of full CNC cutting  
      6 positions to adjust the levers you your individual preferences 
      The best levers ever by MRV-RACING 
    .row.categories#long
      %img{:src => '/assets/logo.png'}
      • LONG LEVERS 
      The best replacement of the levers to tune your motorcycle (operated with 4 fingers)
      The highest grade levers used on motorcycle races
      The best design and improved features
      Anodizing process of 16 phases
      The highest precision of full CNC cutting  
      6 positions to adjust the levers you your individual preferences 
      The best levers ever by MRV-RACING
    .row.categories#extendable
      .easyzoom.easyzoom--overlay
        %a{:href => '/assets/extendable_l_main.jpg'}
          %img{:src => '/assets/extendable_main.jpg'}
      .thumbnails.extendable
        %img{:src => '/assets/extendable_main.jpg', "data-zoom-image" => '/assets/extendable_main.jpg'}
        %img{:src => '/assets/extendable_tech_1.jpg', "data-zoom-image" => '/assets/extendable_tech_1.jpg'}
        %img{:src => '/assets/extendable_tech_2.jpg', "data-zoom-image" => '/assets/extendable_tech_2.jpg'}
        %img{:src => '/assets/extendable_tech_3.jpg', "data-zoom-image" => '/assets/extendable_tech_3.jpg'}
      .thumbnails.static
        %img{:src => '/assets/short_s_main.jpg'}
        %img{:src => '/assets/logo.png'}
        %img{:src => '/assets/short_s_main.jpg'}
        %img{:src => '/assets/logo.png'}
      • FOLDABLE AND EXTENDABLE LEVERS 
      Foldable and extendable levers are the best choice for the motorcycle riders who use motorcycle for races, commuting and travelling. They give you an option to adjust them depending on occasion or particular preferences (operated with 2-4 fingers)
      In case of falling off they fold preventing from getting broken.

      The highest grade levers used on motorcycle races
      The best design and improved features
      Anodizing process of 16 phases
      The highest precision of full CNC cutting  
      6 positions to adjust the levers you your individual preferences 
      The best levers ever by MRV-RACING  
    .row.categories#three_d
      %img{:src => '/assets/logo.png'}
      • 3D LEVERS 
      3d levers are the newest design with 3D surface preventing from slippery. The special hole releases the wind pressure while riding or racing .The is best replacement of the levers to tune your motorcycle (operated with 3-4 fingers)

      The highest grade levers used on motorcycle races
      The best design and improved features
      Anodizing process of 16 phases
      The highest precision of full CNC cutting  
      6 positions to adjust the levers you your individual preferences 
      The best levers ever by MRV-RACING
    .row.categories#special
      %img{:src => '/assets/logo.png'}
      Special series


= javascript_include_tag("products")