- content_for :title do
  MRV RACING TEAM
.row
  %p Our products are widely used by the best motorcycle riders.<br> We support motorcycle riders in national competitions.<br> Improve your motorcycle with us and make it better to the limits.<br> Feel free to contact us and discuss details.
