.dialog-background
.dialog-wrapper
  .js-dialog-close
  .dialog-container
    %p.top-padding
      %a.bigger-text(href="mailto:office@mrv-racing.com") office@mrv-racing.com
      %br
      %a.bigger-text(href="mailto:mrvracingteam@mrv-racing.com") mrvracingteam@mrv-racing.com
      %br
      %a.bigger-text(href="mailto:shop@mrv-racing.com") shop@mrv-racing.com