.dialog-background
.dialog-wrapper
  %h3.dialog-title Questions? Write a email to us
  .js-dialog-close
  .dialog-container
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt sint cum officiis ea. Quibusdam dolores rerum nemo, explicabo incidunt autem molestias obcaecati optio.
    %p.top-padding
      %a(href="mailto:office@mrv-racing") office@mrv-racing <br>
      %a(href="mailto:mrv-racing-team@mrv-racing") mrv-racing-team@mrv-racing
