.dialog-background
.dialog-wrapper
  %h3.dialog-title Questions? <br> Write a email to us
  .js-dialog-close
  .dialog-container
    %p.top-padding
      %a.bigger-text(href="mailto:office@mrv-racing") office@mrv-racing <br>
      %a.bigger-text(href="mailto:mrv-racing-team@mrv-racing") mrv-racing-team@mrv-racing
