.dialog-background
.dialog-wrapper
  .js-dialog-close
  .dialog-container
    .dialog-gallery
      %img.preview{:src => '/assets/long_l_main.jpg'}
      .thumbnails
        %h3.dialog-title.left Long levers details
        %p The best replacement of the levers to tune your motorcycle (operated with 4 fingers) The highest grade levers used on motorcycle races The best design and improved features
        %ul
          %li.active
            %img.js-switch-preview{:src => '/assets/long_s_main.jpg',
            'data-large' => '/assets/long_l_main.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/long_s_tech_1.jpg',
            'data-large' => '/assets/long_l_tech_1.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/long_s_tech_2.jpg',
            'data-large' => '/assets/long_l_tech_2.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/long_s_tech_3.jpg',
            'data-large' => '/assets/long_l_tech_3.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/long_s_1.jpg',
            'data-large' => '/assets/long_l_1.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/long_s_2.jpg',
            'data-large' => '/assets/long_l_2.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/long_s_3.jpg',
            'data-large' => '/assets/long_l_3.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/long_s_4.jpg',
            'data-large' => '/assets/long_l_4.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/long_s_5.jpg',
            'data-large' => '/assets/long_l_5.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/long_s_6.jpg',
            'data-large' => '/assets/long_l_6.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/long_s_7.jpg',
            'data-large' => '/assets/long_l_7.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/long_s_8.jpg',
            'data-large' => '/assets/long_l_8.jpg'}
