.dialog-background
.dialog-wrapper
  .js-dialog-close
  .dialog-container
    .dialog-gallery
      %img.preview{:src => '/assets/ss_l_1.jpg'}
      .thumbnails
        %h3.dialog-title.left Special series
        %p FOLDABLE AND EXTENDABLE LEVERS – SPECIAL UNIQUE SERIES OF LEVERS IS AVAILABLE NOW
        %ul
          %li.active
            %img.js-switch-preview{:src => '/assets/ss_s_1.jpg',
            'data-large' => '/assets/ss_l_1.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/ss_s_2.jpg',
            'data-large' => '/assets/ss_l_2.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/ss_s_3.jpg',
            'data-large' => '/assets/ss_l_3.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/ss_s_4.jpg',
            'data-large' => '/assets/ss_l_4.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/ss_s_5.jpg',
            'data-large' => '/assets/ss_l_5.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/ss_s_6.jpg',
            'data-large' => '/assets/ss_l_6.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/ss_s_7.jpg',
            'data-large' => '/assets/ss_l_7.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/ss_s_8.jpg',
            'data-large' => '/assets/ss_l_8.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/ss_s_9.jpg',
            'data-large' => '/assets/ss_l_9.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/ss_s_10.jpg',
            'data-large' => '/assets/ss_l_10.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/ss_s_11.jpg',
            'data-large' => '/assets/ss_l_11.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/ss_s_12.jpg',
            'data-large' => '/assets/ss_l_12.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/ss_s_13.jpg',
            'data-large' => '/assets/ss_l_13.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/ss_s_14.jpg',
            'data-large' => '/assets/ss_l_14.jpg'}
          %li
            %img.js-switch-preview{:src => '/assets/ss_s_15.jpg',
            'data-large' => '/assets/ss_l_15.jpg'}