#header { position: fixed; top: 0; left: 0; text-decoration: none; margin-bottom: 0.6em; padding: 5px 20px 0 20px; background-color: white; width: 100%; z-index: 1; box-shadow: 2px 2px 4px rgba(83, 100, 122, 0.35); }
#header img { height: 70px; width: 140px; margin-top: 3px; margin-bottom: 5px; }
#header nav { float: right; padding-top: 35px; }
#header nav ul { margin: 0; list-style: none; overflow: hidden; text-transform: uppercase; font-family: Helvetica, Arial, Sans-serif; font-size: 12px; }
#header nav ul li { float: left; margin-left: 2em; }
#header nav ul li a { text-decoration: none; color: #000; color: black; color: rgba(0, 0, 0, 0.8); }
#header nav ul li a:hover { color: red; }
#header nav ul li.current { margin-top: -3px; }
#header nav ul li.current a { font-weight: bold; font-size: 14px; }

#body { margin-top: 83px; min-height: 300px; background-color: #f0edea; }

#footer { background-color: #f0edea; font-size: 12px; text-align: center; padding-bottom: 10px; padding-top: 20px; overflow: hidden; }

a { text-decoration: none; }

.products .col-md-3 .block { margin: 12px; border: 1px solid #DCDEE3; background: #FFF; }
.products .col-md-3 ul { list-style: none; }
.products .col-md-3 ul li a { display: block; position: relative; padding: 8px 26px 8px 0; line-height: 18px; color: #666; font-size: 14px; }
.products .col-md-9 .frames li { display: inline-block; height: 200px; width: 200px; border: 1px solid red; margin-top: 30px; margin-left: 20px; }
.products .col-md-9 .categories { display: none; }
.products .col-md-9 .categories img { height: 300px; width: 500px; }
.products .col-md-9 .categories .thumbnails img { display: inline-block; height: 50px; width: 70px; cursor: pointer; }

.racing_team { min-height: 400px; background-image: url("/images/extendable_main.jpg"); }
