#footer {
  background-color: #f0edea;  
  font-size: 12px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
  overflow: hidden;

  ul {
    width: 600px;
    margin: auto;
    list-style: none;
    overflow: hidden;
    text-transform: uppercase;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 12px;
    li {
      float: left;
      margin-left: 2em;
      a {
        text-decoration: none;
        color: #000;
        color: rgb(0, 0, 0);
        color: rgba(0, 0, 0, 0.8);
        &:hover {
          color: red;
        }
      }
      &.current {
        margin-top: -3px;
        a {
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
  }
}