%ul
  %li{class: is_current?("home")}
    %a(href="/")
      %p Home    
  %li{class: is_current?("products")} 
    %a(href="/products")
      %p Products
  %li{class: is_current?("racing_team")} 
    %a(href="/racing_team")
      %p Racing Team
  %li{class: is_current?("distributors")} 
    %a(href="/distributors")
      %p Distributors
  %li{class: is_current?("contact")} 
    %a(href="/contact")
      %p Contact

© 2016 MRV-RACING All rights reserved.