%section.container
  %a.brand-logo(href="/")
    %img.logo{:src => '/assets/common/mrv-logo-128x65.png',
        :srcset => '/assets/common/mrv-logo-128x65@2x.png 2x'}
    %img.slogan{:src => '/assets/svg/pae.svg'}
  %nav.header-menu
    %ul.list-inline
      %li{:class => ['menu-item', is_current?("products")]}
        %a(href="/products") Products
      %li{:class => ['menu-item', is_current?("racing_team")]}
        %a(href="/racing_team") Racing Team
      %li{:class => ['menu-item', is_current?("distributors")]}
        %a(href="/distributors") Distributors
      %li{:class => ['menu-item', is_current?("contact")]}
        %a.js-open-dialog(href="#" data-dialog-id="dialog-contact") Contact
    %button.btn.hamburger
      %span.lines
