%a.dupa(href="/")
  %img{:src => '/images/logo.png'}
  performance and emotions
%nav
  %ul
    %li
      %a(href="products")
        %p Products
    %li
      %a(href="special_series")
        %p Special Series
    %li
      %a(href="racing_team")
        %p Racing Team
    %li
      %a(href="distributors")
        %p Distributors
    %li
      %a(href="contact")
        %p Contact