// Screen size
@screen-xs-min: 480px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

// Gutter size
@grid-gutter-width: 30px;
@grid-float-breakpoint: @screen-md-min;

// Container size
@container-sm: ((720px + @grid-gutter-width));
@container-md: ((940px + @grid-gutter-width));
@container-lg: ((1140px + @grid-gutter-width));